@font-face {
  font-family: "PPFragment";
  font-style: normal;
  font-weight: 400;
  src: url(./font/PPFragment-GlareRegular.otf);
}


:root {
  --web-bg-color: rgb(91, 8, 8);
  --second-color: rgb(155, 119, 119);
  --font-color: rgb(241, 229, 229); 
  --gutter: 3rem;
  --link-fontsize: 1.4rem;
}

body{
  background-color: var(--web-bg-color);
  padding-inline-start: 3rem;
  color: var(--font-color);
  font-family: "PPFragment", serif;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10rem;
  background-image: linear-gradient( rgba(174, 30, 30, 0) 20%, rgb(144, 12, 12)); ;
}

body > div{
  flex: 1;
}

.left-side{
  padding-block-start: 3rem;
}

.right-side{
  padding-block-start: -3rem;
  position: relative;
  /* overflow: hidden; */
}

.right-side img{
  display: none;
  width: auto;
  height: auto;        
  max-width: 100%;       
  max-height: 90%; 
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  z-index: 2;

}


p{
  font-size: 1.2rem;
  line-height: 2.4rem;
  max-inline-size: 40rem;
  margin-block-start: 0.4rem;
  color: var(--second-color);
}

h1{
  font-size: 2rem;
}



ul{
  margin-block-start: 4rem;
  margin-inline-start: var(--gutter);
}

li{
  margin-block: 1.6rem;
  font-size: var(--link-fontsize);
}

li:hover{
  color: rgb(255, 119, 119);
  text-decoration: underline;
}

div.contact{
  font-size: 1.2rem;
  position: absolute;
  bottom: 3rem;
  z-index: 1;
}

@media (width >1050px){
  /* hide the images by default, and only show the one that corresponds to the hovered link */
  body:has(li:nth-child(1):hover) #manuscript {
    display: block;
  }

  body:has(li:nth-child(2):hover) #anti-grid {
    display: block;
  }

  body:has(li:nth-child(3):hover) #binding {
    display: block;
  }

  body:has(li:nth-child(4):hover) #time {
    display: block;
  }

  body:has(li:nth-child(5):hover) #torrent {
    display: block;
  }
}


@media (width < 1050px){
  :root {
    --gutter: 0rem;
    --link-fontsize: 1.2rem;
  }

  body{
    flex-direction: column;
    /* padding: 0; */
  }

  .right-side img{
    display: none;
    width: auto;
    height: auto;        
    max-width: 40%;       
    max-height: 90%; 
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -0%);
    z-index: 2;
  }
}